body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

div, nav, ul, li, i, a{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle;
}

.header ul, .header nav{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.header a {
    white-space: nowrap;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: Verdana,"Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
}

.header {
	height: 60px;
	border-bottom: 1px solid #ececec;
	background-color: #fff;
}

.header .w-1000 {
	width: 1000px;
	margin: 0 auto;
	height: 60px;
	line-height: 60px;
}

.header .logo {
	width: 109px;
	height: 60px;
	margin-right: 60px;
	display: inline-block;
	float: left;
}

.header .logo img {
	margin-top: 10px;
}

.header nav {
	height: 60px;
	display: inline-block;
	float: left;
}

.header ul {
	list-style: none;
}

.header nav li {
	height: 60px;
	margin-right: 50px;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
	float: left;
	position: relative;
}

.header nav li i {
	margin-left: 5px;
}

.arrow-icon {
	width: 8px;
	height: 8px;
	border-top: 1px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
	display: inline-block;
	transform: rotate(-135deg);
	margin-left: 5px;
	margin-bottom: 2px;
}

.header nav .submenu {
	width: 280px;
	display: none;
	opacity: 0;
	position: absolute;
	top: 60px;
	left: 0px;
	font-size: 12px;
	background-color: #fff;
	color: #666;
	transition: opacity 1s ease-out;
	z-index: 10;
}

.header nav .submenu h3 {
	margin: 10px 0;
	padding: 0 0 0 15px;
	background-color: #fafafa;
	height: 28px;
	line-height: 28px;
	font-weight: 300;
	font-size: 12px;
}

.header nav .submenu a {
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	color: #333;
}

.school-list i {
	background: url('../img/allicon.png') 0 0 no-repeat;
	background-size: 64px 64px;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 10px;
}


.school-list .web-icon {
	background-position: -15px -27px;
}

.school-list i {
	margin-left: 5px;
}

.school-list i.wechat-icon, .school-list i.python-icon, .school-list i.go-icon, .school-list i.ios-icon {
	background: url('../img/allicon4.png') 0 0 no-repeat;
	background-size: 16px 128px;
}

.school-list i.wechat-icon {
	background-position: -2px -51px;
}

.school-list i.python-icon {
	background-position: -2px -2px;
}

.school-list i.go-icon {
	background-position: -2px -32px;
}

.school-list i.android-icon {
	background-position: -44px -15px;
}

.school-list i.ios-icon {
	background-position: -2px -70px;
}

.header nav li:nth-child(2):hover, .header nav li:nth-child(3):hover, .header nav li:nth-child(4):hover {
	color: rgb(53, 181, 88);

}

.header nav li:nth-child(2):hover .arrow-icon, .header nav li:nth-child(3):hover .arrow-icon, .header nav li:nth-child(4):hover .arrow-icon {
	border-top: 1px solid rgb(53, 181, 88);
	border-left: 1px solid rgb(53, 181, 88);
	transform: rotate(45deg);
	transform-origin: 45% 40%;
	animation: arrow-icon-rotate 1s 0s ease-in;
}

.header nav li:nth-child(2):hover .school-list, .header nav li:nth-child(3):hover .vip-lesson, .header nav li:nth-child(4):hover .vip-lesson, .header .icon-box .app-icon:hover .submenu, .header .icon-box .loginlist:hover .submenu {
	display: block;
	opacity: 1;
	animation:school_list_opacity 1s ease forwards;
}

@keyframes school_list_opacity {
	0%{opacity:0}
	100%{opacity:1}
}

@keyframes arrow-icon-rotate {
	0%{
		transform: rotate(45deg);
	}
	90%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(405deg);
	}
}

.header nav li .school-list a:hover, .header nav li .vip-lesson a:hover {
	color: rgb(53, 181, 88);
	background-color: #fafafa;
}

.header nav .vip-lesson {
	padding: 10px 0;
}

.header nav .vip-lesson a, .header nav .vip-lesson1 a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #666;
}

.vip-lesson i {
	background: url("../img/allicon.png") 0 0 no-repeat;
	background-size: 64px 64px;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 10px!important;
}

.vip-lesson .kck-icon {
	background-position: 0px -12px;
}

.header nav .vip-lesson a span {
	float: right;
	color: #bbb;
}

.vip-lesson .zyljt-icon {
	background-position: -45px 0px;
}

.vip-lesson .zstxt-icon {
	background-position: -30px -12px;
}

.vip-lesson .xlkc-icon {
	background: url("../img/xlkc2.png") 0 0 no-repeat;
	background-size: 12px 12px;
	background-position: 0 0;
}

.vip-lesson .kcbq-icon {
	background-position: -15px -13px;
}

.vip-lesson .vip-icon {
	background-position: -16px 0px;
}

.vip-lesson .jswd-icon {
	background-position: 0px -27px;
}

.vip-lesson .wiki-icon {
	background-position: -30px -27px;
}

.vip-lesson .sq-icon {
	background-position: 0px 2px;
}

.vip-lesson .zyxz-icon {
	background-position: -30px 0px;
}

.header .icon-box {
	display: inline-block;
	height: 60px;
	margin-right: 10px;
	float: right;
	width: 200px;
	text-align: right;
}

.header .icon-box span {
	display: inline-block;
	height: 60px;
	width: 17px;
	margin-left: 25px;
	cursor: pointer;
}

.header .icon-box .search-icon {
	background: url("../img/search-icon.png") 0 0 no-repeat;
	background-size: 17px;
	background-position: 0px;
}

.header .icon-box .search-icon:hover {
	background: url("../img/search-icon2.png") 0 0 no-repeat;
	background-size: 17px;
	background-position: 0px;
}

.header .icon-box .app-icon {
	background: url("../img/app-icon.png") 0 0 no-repeat;
	background-size: 17px;
	background-position: 0px;
}

.header .icon-box .app-icon:hover {
	background: url("../img/app-icon2.png") 0 0 no-repeat;
	background-size: 17px;
	background-position: 0px;
}



.header .icon-box .relative {
	position: relative;
}

.logolist .submenu {
	display: none;
	opaction: 0;
	padding: 10px 0;
	position: absolute;
	width: 120px;
	height: 40px;
	top: 60px;
	right: -50px;
	background-color: #fff;
}

.logolist .submenu i {
	position: absolute;
	top: -8px;
	width: 15px;
	height: 15px;
	border-left: 1px solid #ececec;
	border-top: 1px solid #ececec;
	transform: rotate(45deg);
	background-color: #fff;
}

.logolist .submenu .top-icon {
	left: 53px;
}

.logolist .submenu img {
	position: absolute;
	top: 0;
	left: 0;
}

.header .icon-box .noti-icon {
	background: url("../img/icon-msg.png") 0 0 no-repeat;
	background-size: 15px 17px;
	background-position: 0px;
}

.header .icon-box .noti-icon:hover {
	background: url("../img/msg-hover.png") 0 0 no-repeat;
	background-size: 15px 17px;
	background-position: 0px;
}

.header .icon-box .login-icon {
	background: url("../img/login-icon.png") 0 0 no-repeat;
	background-size: 17px;
	background-position: 0px;
}

.loginlist .submenu {
	display: none;
	opacity: 0;
	position: absolute;
	top: 60px;
	right: -10px;
	width: 120px;
	background-color: #fff;
	margin: 0;
	padding: 10px 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.loginlist .submenu .top-icon {
	position: absolute;
	right: 10px;
	top: -8px;
	width: 15px;
	height: 15px;
	border-left: 1px solid #ececec;
	border-top: 1px solid #ececec;
	transform: rotate(45deg);
	background-color: #fff;
}

.loginlist .submenu dd {
	margin: 0px;
	padding-left: 10px;
	font-size: 12px;
	line-height: 35px;
	vertical-align: middle;
	text-align: left;
}

.loginlist .submenu dd a {
	color: #666;
	height: 35px;
	line-height: 35px;
}

.loginlist .submenu dd .reg-btn {
	width: 45%;
	display: inline-block;
	text-align: center;
}

.loginlist .submenu dd .login-btn {
	width: 45px;
	display: inline-block;
	text-align: center;
}

.header .loginlist dd>a>i {
	background: url("../img/allicon2.png") 0 0 no-repeat;
	background-size: 64px 64px;
	width: 12px;
	height: 12px;
	margin-right: 10px;
	display: inline-block;
}

.loginlist .submenu dd .xxzx-icon {
	background-position: -16px -15px;
}

.loginlist .submenu dd .grzy-icon {
	background-position: -45px -1px;
}

.loginlist .submenu dd .zhsz-icon {
	background-position: -30px -1px;
}

.pager {
	display: block;
}

.pager .w-1000 {
	width: 1000px;
	margin: 20px auto 40px auto;
	zoom: 1;
	display: table;
}

.pager .jk-banner {
	width: 750px;
	height: 330px;
	margin-right: 10px;
	background-color: #f5f5f5;
	overflow: hidden;
	float: left;
}

.pager .jk-banner .banner-container {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
}

.pager .jk-banner .banner-container a {
	display: block;
	background: url("../img/5929418d43018.jpg") center center no-repeat rgb(245, 245, 245);
	width: 750px;
	height: 330px;
}

.pager .jk-login {
	width: 240px;
	height: 160px;
	float: left;
	border: 1px solid #e9e9e9;
	background-color: #fff;
	display: block;
	box-sizing: border-box;
	padding: 26px 29px 24px;
}

.pager .jk-login .userInfo {
	height: 57px;
	width: 180px;
}

.userInfo .userImg {
	width: 57px;
	height: 57px;
	margin-right: 15px;
	float: left;
}

.userInfo .userName {
	float: left;
	font-size: 12px;
	color: #555;
	line-height: 16px;
	height: 16px;
	width: 108px;
	margin-top: 8px;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}

.userInfo .userStatus {
	float: left;
	font-size: 12px;
	color: #555;
	line-height: 16px;
	height: 16px;
	margin-top: 10px;
	margin-bottom: 0px;
	width: 108px;
}

.jk-login .loginOn, .jk-login .registerNow {
	display: inline-block;
	width: 85px;
	height: 32px;
	border: 1px solid #35b558;
	border-radius: 2px;
	color: #35b558;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	margin-top: 20px;
	transition: background-color .8s;
	float: left;
}

.jk-login .loginOn {
	margin-right: 10px;
}

.jk-login .loginOn:hover, .jk-login .registerNow:hover {
	background-color: #35b558;
	color: #fff;
}

.jk-huodong {
	display: block;
	width: 240px;
	height: 160px;
	float: left;
	margin-top: 10px;
}

.jk-jiuye {
	display: block;
	width: 100%;
	margin-top: 40px;
	padding-right: 240px;
	box-sizing: border-box;
	position: relative;
	float: left;
}

.jk-jiuye h2, .jk-sku h2, .jk-offline h2, .jk-vip h2, .jk-story h2, .jk-parter h2 {
	font-size: 18px;
	color: #555;
	line-height: 18px;
	height: 18px;
	margin: 0 0 22px 0;
	font-weight: 400;
}

.jk-jiuye .jk-ban {
	display: block;
	width: 370px;
	height: 75px;
	margin: 0 10px 10px 0;
	padding-left: 120px;
	text-decoration: none;
	float: left;
	transition: box-shadow .2s linear;
}

.jk-jiuye .web {
	background: url("../img/jiuye-web03_b78e3f6.png") no-repeat center center / 370px 75px;
}

.jk-jiuye .jk-ban p {
	margin: 0;
	padding: 0;
	height: 75px;
	font-size: 15px;
	line-height: 75px;
	text-align: center;
	font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
	color: #fff;
}

.jk-jiuye .php {
	background: url("../img/jiuye-php03_8cdf521.png") no-repeat center center / 370px 75px;
}

.jk-jiuye .mr-0 {
	margin-right: 0px;
}

.jk-jiuye .java-web {
	background: url("../img/jiuye-java03_302dbd8.png") no-repeat center center / 370px 75px;
}

.jk-jiuye .mb-0 {
	margin-bottom: 0px;
}

.jk-jiuye .ui-ux {
	background: url("../img/jiuye-ux03_45d7813.png") no-repeat center center / 370px 75px;
}

.jk-jiuye .jk-ban:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
}

.jk-sku {
	display: block;
	width: 1000px;
	margin: 20px auto 40px auto;
	box-sizing: border-box;
}

ul, li, p {
	margin: 0;
	padding: 0;
	font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
	box-sizing: border-box;
}

.jk-sku ul {
	height: 270px;
	width: 100%;
	list-style: none;
}

.jk-sku ul li {
	height: 270px;
	width: 235px;
	margin-right: 20px;
	border: 1px solid #e9e9e9;
	float: left;
}

.jk-sku ul li:last-child {
	margin-right: 0px;
}

a {
	text-decoration: none;
	box-sizing: border-box;
}

.jk-sku ul li a {
	display: block;
	width: 100%;
}

.jk-sku ul li a img {
	width: 100%;
	height: 155px;
}

.jk-sku ul li a .skuContainer {
	padding: 14px;
	height: 113px;
	position: relative;
	background-color: #fff;
}

.jk-sku ul li a .skuContainer .skuTitle {
	width: 100%;
	height: 36px;
	font-size: 12px;
	line-height: 18px;
	color: #555;
}

.jk-sku ul li a .skuContainer .skuInfo {
	width: 100px;
	height: 16px;
	margin-top: 6px;
	font-size: 12px;
	line-height: 16px;
	color: #999;
}

span {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.jk-sku ul li a .skuContainer .skuPrice {
	float: left;
	font-size: 18px;
	color: #ff5c00;
	margin-top: 8px;
	margin-right: 5px;
	vertical-align: bottom;
}

.jk-sku ul li a .skuContainer .skuPrice:before {
	content: "¥";
	font-size: 14px;
	margin-right: 3px;
}

.jk-sku ul li a .skuContainer .skuThrought {
	float: left;
	font-size: 12px;
	height: 15px;
	margin-top: 14px;
	color: #999;
	text-decoration: line-through;
	vertical-align: bottom;
}

.jk-sku ul li a .skuContainer .skuNum {
	display: inline-block;
	font-size: 12px;
	height: 14px;
	position: absolute;
	bottom: 14px;
	right: 14px;
	color: #999;
}

.jk-offline {
	width: 1000px;
	margin: 0 auto 40px auto;
	display: table;
}

ul {
	list-style: none;
	box-sizing: border-box;
}

.cf {
	zoom: 1;
}

.jk-offline ul li {
	float: right;
	width: 261px;
	height: 139px;
	position: relative;

}

.jk-offline ul {
	float: right;
}

.jk-offline .daniu li {
	transition: all 0.8s;
}

.jk-offline ul li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding-top: 35px;
}

.jk-offline .daniu li:nth-child(1), .jk-offline .daniu li:nth-child(5) {
	background-color: #0276f1;

}

.jk-offline .daniu li:nth-child(1):hover, .jk-offline .daniu li:nth-child(5):hover {
	background-color: #0569d3;
}

.jk-offline ul li a span {
	display: block;
	width: 31px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.jk-offline .daniu li:nth-child(1) a span {
	background: url("../img/daniu-05_b18767c.png") no-repeat center center / 21px 33px;
	width: 21px;
	height: 33px;
	margin-bottom: 9px;
}

.jk-offline .daniu li:nth-child(2), .jk-offline .daniu li:nth-child(4) {
	background-color: #3390f3;
}

.jk-offline .daniu li:nth-child(2):hover, .jk-offline .daniu li:nth-child(4):hover {
	background-color: #0569d3;
}

.jk-offline .daniu li:nth-child(2) a span {
	background: url("../img/daniu-06_5b9a64a.png") no-repeat center center / 28px 30px;
	width: 30px;
	height: 28px;
}

.jk-offline .daniu li:nth-child(3) {
	background: url("../img/daniu-bg2_5bb23e1.png") no-repeat center center /478px 278px;
	position: relative;
	width: 478px;
	height: 278px;
	float: left;
}

.jk-offline .daniu li:nth-child(3):hover {
	box-shadow: 0 0 0!important;
}

.jk-offline .daniu li:nth-child(3) a {
	padding-top: 40px;
}

.jk-offline ul li:nth-child(3) a .ban {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 123px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}

.jk-offline ul .top-title {
	margin: 15px auto 10px;
	font-size: 37px;
}

.jk-offline ul .title {
	margin: 0 0 12px 0;
	font-size: 40px;
	font-weight: 400;
}

.jk-offline ul .bot-title {
	font-size: 26px;
}

.jk-offline .daniu li:nth-child(4) a span {
	background: url("../img/daniu-07_e81e2d7.png") no-repeat center center / 26px 26px;
	width: 26px;
	height: 26px;
	margin-bottom: 16px;
}

.jk-offline .daniu li:nth-child(5) a span {
	background: url("../img/daniu-08_a15e689.png") no-repeat center center / 30px 30px;
	width: 30px;
	height: 30px;
	border-bottom: 12px;
}

.jk-offline .mogui {
	margin-top: 20px;
}

.jk-offline .mogui li:nth-child(1), .jk-offline .mogui li:nth-child(5) {
	background-color: #eb313e;
}

.jk-offline .mogui li:nth-child(2), .jk-offline .mogui li:nth-child(4) {
	background-color: #F64450;
}

.jk-offline .mogui li:nth-child(1) span {
	background: url("../img/mogui-02_5e33480.png") 0 0 no-repeat;
	background-size: 31px 24px;
	width: 31px;
	height: 24px;
	margin-bottom: 20px;
}

.jk-offline .mogui li:nth-child(2) span {
	background: url("../img/mogui-01_08e776e.png") no-repeat center center / 31px 28px;
	width: 31px;
	height: 28px;
	margin-bottom: 24px;
}

.jk-offline .mogui li:nth-child(3) {
	width: 478px;
	height: 278px;
	background: url("../img/mogui-bg_ee9827b.png") no-repeat center center / 478px 278px;
	float: left;
}

.jk-offline .mogui li:nth-child(3) a {
	padding-top: 40px;
}

.jk-offline .mogui li:nth-child(4) span {
	background: url("../img/mogui-04_ce7d6bc.png") no-repeat center center / 31px 30px;
	width: 31px;
	height: 30px;
	margin-bottom: 14px;
}

.jk-offline .mogui li:nth-child(5) span {
	background: url("../img/mogui-03_e9f2b48.png") no-repeat center center /29px 31px;
	width: 29px;
	height: 31px;
	margin-bottom: 13px;
}

.jk-college {
	display: table;
	width: 1000px;
	margin: 0 auto 40px;
}

.jk-college h2 {
	margin: 0;
	padding: 0;
	font-size: 18px;
	height: 18px;
	line-height: 18px;
	margin-bottom: 22px;
	font-weight: 400;
}

.jk-college ul li {
	float: left;
	background: #ccc;
	height: 130px;
	width: 240px;
	position: relative;
	margin-left: 10px;
	margin-bottom: 10px;
}

.jk-college ul li:nth-child(4), .jk-college ul li:nth-child(5) {
	margin-left: 10px;
	margin-bottom: 0;
}

.jk-college ul .web {
	width: 500px;
	height: 270px;
	background: url("../img/bgweb_054d9d5.jpg") no-repeat center center / 500px 270px;
	margin: 0;
}

.jk-college ul li a {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.jk-college ul li i {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #000;
	opacity: 0;
	transition: opacity .8s;
}

.jk-college ul li:hover i {
	opacity: 0.2;
}

.jk-college ul li span {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding-top: 88px;
}

.jk-college ul .web span {
	padding-top: 180px;
	font-size: 20px;
	background: url("../img/cweb_2d70d0b.png") no-repeat center 70px / 55px 84px;
}

.jk-college ul .python {
	background: url("../img/bgpython_c21a999.jpg") no-repeat center center / 240px 130px;
}

.jk-college ul .python span {
	background: url("../img/cpython_5ed9df4.png") no-repeat center 31px / 36px 36px;
}

.jk-college ul .go {
	background: url("../img/bggo_6ac4e5b.jpg") no-repeat center center / 240px 130px;
}

.jk-college ul .go span {
	background: url("../img/cgo_e66208d.png") no-repeat center 35px / 36px 29px;
}

.jk-college ul .ios {
	background: url("../img/bgios_cadb5b0.jpg") no-repeat center center / 240px 130px;
}

.jk-college ul .ios span {
	background: url("../img/cios_dc0ca8e.png") no-repeat center 31px / 32px 36px;
}

.jk-college ul .wechat {
	background: url("../img/bgwechat_2357330.jpg") no-repeat center center / 240px 130px;
}

.jk-college ul .wechat span {
	background: url("../img/cwechat_624099d.png") no-repeat center 29px / 41px 34px;
}

.jk-vip {
	width: 1000px;
	height: 420px;
	margin: 0 auto;
	margin-bottom: 40px;
	box-sizing: border-box;
}

.jk-vip ul {
	width: 1000px;
	height: 310px;
}

.jk-vip ul li {
	height: 150px;
	width: 158px;
	box-sizing: border-box;
	border: 1px solid #e9e9e9;
	float: left;
	background-color: #fff;
	margin-right: 10px;
}

.jk-vip ul li:nth-child(6), .jk-vip ul li:nth-child(12) {
	margin-right: 0px;
}

.jk-vip ul li:nth-child(n+7) {
	margin-top: 10px;
}

.jk-vip ul li a {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}

.jk-vip ul li a img {
	margin-top: 25px;
	width: 55px;
	height: 55px;
}

.jk-vip ul li a p {
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: #555;
}

.jk-vip ul li a span {
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	color: #35b558;
	display: block;
}

.jk-vip .vip-all {
	display: block;
	width: 120px;
	height: 32px;
	box-sizing: border-box;
	border: 1px solid #35b558;
	border-radius: 2px;
	line-height: 30px;
	color: #35b558;
	font-size: 14px;
	text-align: center;
	margin-top: 38px;
	position: relative;
	left: 50%;
	margin-left: -60px;
	transition: background-color .5s;
}

.jk-story {
	width: 1000px;
	margin: 0 auto;
	height: 300px;
	margin-bottom: 40px;
	box-sizing: border-box;
}

.jk-story .story-container {
	width: 100%;
	height: 260px;
	position: relative;
	overflow: hidden;
}

.jk-partner {
	width: 1000px;
	margin: 0 auto;
	height: 240px;
	margin-bottom: 40px;
	box-sizing: border-box;
}

.jk-partner ul {
	width: 100%;
	height: 120px;
}

.jk-partner ul li {
	width: 150px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #e9e9e9;
	margin-right: 20px;
	float: left;
	background: #fff;
	transition: box-shadow 0.5s;
}

.jk-partner ul li:nth-child(6), .jk-partner ul li:nth-child(12) {
	margin-right: 0px;
}

.jk-partner ul li:nth-child(n+7) {
	margin-top: 20px;
}

.jk-partner ul li:nth-child(1) a {
	background: url("../img/p_microsoft_82f9a9a.png") no-repeat center center / 125px 27px;
}

.jk-partner ul li a {
	display: block;
	height: 100%;
	width: 100%;
}

.jk-partner ul li:hover {
	border: 1px solid #e1e2e1;
	box-shadow: 0 2px 6px #ccc;
}

.jk-partner .more-partner {
	display: block;
	height: 32px;
	width: 120px;
	border: 1px solid #35b558;
	border-radius: 2px;
	line-height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #35b558;
	text-align: center;
	margin-top: 38px;
	position: relative;
	left: 50%;
	margin-left: -60px;
	transition: background-color 0.5s;
}

.jk-partner .more-partner:hover, .jk-vip .vip-all:hover {
	color: #fff;
	background-color: #35b558;
}

.footer {
	min-width: 1000px;
	border-top: 1px solid #e4e4e4;
	background-color: #fff;
}

.footer div, .footer p, .footer dl, .footer dd {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.mar-t50 {
	margin-top: 50px;
}

.footer .jkinfor-block {
	background-color: #fff;
}

.footer .jkinfor-block .jkinfor {
	width: 1000px;
	position: relative;
	height: 215px;
	margin: 0 auto;
	border-bottom: 1px solid #f5f5f5;
	padding-left: 224px;
	padding-top: 25px;

}

.footer .jkinfor-block .jkinfor .jk-logo {
	position: absolute;
	left: 0;
	top: 25px;
	display: inline-block;
	width: 160px;
}

.footer .jkinfor-block .jkinfor .jk-logo p {
	margin-top: 20px;
	font-size: 12px;
	color: #999;
}

.footer .jkinfor dl {
	width: 135px;
	color: #808080;
	float: left;
}

.footer .jkinfor dl dt {
	font-size: 14px;
	line-height: 30px;
}

.footer .jkinfor dl dd {
	font-size: 12px;
	line-height: 30px;
}

.footer .jkinfor dl dd a {
	color: #999999;
}

.footer .jkinfor .jk-down {
	position: absolute;
	top: 25px;
	right: 0;
	width: 175px;
	text-align: left;
}

.footer .jkinfor .jk-down p {
	font-size: 14px;
	margin-bottom: 20px;
	color: #808080;
}

.footer .jkinfor .jk-down .downCon {
	display: inline-block;
	width: 140px;
	height: 30px;
	border: 1px solid #eeeeee;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 30px;
	color: #808080;
	padding-left: 40px;
	cursor: pointer;
	position: relative; 
}

.footer .jkinfor .jk-down .down-ios {
	background: url("../img/icon-down-ios.png") no-repeat 0 0 / 30px 30px;
}

.footer .jkinfor .jk-down .down-android {
	background: url("../img/icon-down-and.png") no-repeat 0 0 / 30px 30px;;
}

.footer .jkinfor .jk-down .downCon img {
	position: absolute;
	left: 12px;
	top: -157px;
	display: none;
}

.footer .jkinfor .jk-down .downCon:hover img {
	display: block;
}

.footer .copyright {
	width: 1000px;
	margin: 0 auto;
	color: #999;
	font-size: 12px;
	text-align: center;
	padding: 15px 0;
}

.footer .copyright strong {
	font-weight: 400;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.footer .copyright a {
	color: #999;
	vertical-align: top;
}

a, a:link {
	border: 0 none;
}

.footer .copyright .down-wechat {
	display: block;
	float: right;
	width: 18px;
	height: 15px;
	background: url("../img/icon-down-wechat.png") no-repeat 0 0 / 18px 15px;
}

.footer .copyright .down-weibo {
	
	float: right;
	width: 20px;
	height: 15px;
	background: url("../img/icon-down-sina.png") no-repeat 0 0 / 20px 15px;
	margin-right: 10px;
}

.footer .copyright .szfw {
	display: block;
	margin: 15px auto 0;
	background: url("../img/cert.png") no-repeat center 0 / 57px 20px;
	height: 20px;
}

.gotop {
	position: fixed;
	left: 50%;
	bottom: 50px;
	margin-left: 510px;
	width: 34px;
	height: 103px;
	text-align: center;
	z-index: 100;
}

.gotop .top {
	height: 34px;
	width: 34px;
	background: url("../img/gotop.jpg") no-repeat 0 0;
	background-size: 34px 103px;
}

.gotop .top:hover {
	background: url("../img/gotop2.jpg") no-repeat 0 0;
	background-size: 34px 103px;
}

.gotop .jk-app {
	position: relative;
	display: block;
	height: 35px;
	width: 34px;
	background: #f7f7f7 url("../img/phone-1.png") no-repeat center center / 12px 24px;
}

.gotop .jk-app:hover {
	background: #f7f7f7 url("../img/phone-2.png") no-repeat center center / 12px 24px;
}

.gotop .jk-app .appewm {
	position: absolute;
	left: -126px;
	top: -70px;
	width: 126px;
	height: 159px;
	background: url("../img/appewm.png") no-repeat 0 0 / 126px 159px;
	display: none;
}

.gotop .jk-app:hover .appewm {
	display: block;
}