body {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
	font-size: 13px;
	background-color: #404040;
}

.navbar .navbar-inner {
	width: 100%;
	height: 60px;
	margin: 0px!important;
	margin-bottom: -2px!important;
	background-color: #4a8bc2;
}

.navbar .navbar-inner .container-fluid {
	padding: 0 20px 0 20px;
}

.navbar .navbar-inner .container-fluid .sidebar-toggle-box {
	float: left;
	height: 60px;
	margin-left: -20px;
	margin-right: 20px;
	padding: 0 30px;
	background-color: #427dae;
	color: #fff;
}

.navbar .navbar-inner .container-fluid .sidebar-toggle-box .icon-reorder {
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin-top: 17px;
}

.icon-reorder:before {
	content: '\f0c9';
	font-family: FontAwesome;
}

[class^="icon-"] {
	font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

[class^="icon-"], [class*=" icon-"] {
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
}

.navbar .navbar-inner .container-fluid .brand {
	margin-top: 0px!important;
	padding: 16px 20px;
	width: 132px;
	box-sizing: content-box;
}

.navbar .brand {
	display: block;
	float: left;
	margin-left: -20px;
}

.navbar div.nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	height: 60px;
}

.top-menu {
	padding: 5px;
}

.navbar ul.nav {
	~height: 50px;
}

.navbar-inner .nav > li {
	margin-left: 0px!important;
	margin-right: 0px!important;
	float: left;
}

.dropdown {
	position: relative;
}

.navbar-inner .nav > li > a {
	color: #fff;
	padding: 10px;
}

.navbar .navbar-inner li.dropdown .dropdown-toggle i {
	font-size: 20px;
}

a [class^="icon-"] {
    display: inline;
}

.icon-tasks:before {
	content: "\f0ae";
}

.icon-envelope-alt:before {
	content: "\f003";
}

.icon-bell-alt:before {
	content: "\f0f3";
}

.navbar .navbar-inner li.dropdown .dropdown-toggle:hover {
	background-color: rgba(0,0,0,0.2)!important;
}

.nav .open > a {
	background-color: transparent!important;
}

.dropdown-menu.extended {
	top: 40px;
	min-width: 160px!important;
	max-width: 300px!important;
	width: 235px;
}

.dropdown-menu {
	background-color: #fcfcfc;
	border: 1px solid rgba(0, 2, 1, 0.2);
	box-shadow: 0 0px 0px rgba(0, 2, 1, 0.4);
	padding: 0px 0;
	margin: 0px;
	font-size: 13px;
	display: none;
}

li {
	line-height: 20px;
}

.dropdown-menu.extended li p {
	padding: 10px;
	background-color: #eee;
	color: #666;
	margin: 0px;
}

.dropdown-menu.extended li a {
	display: block;
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	font-size: 12px;
	line-height: 20px;
}

.dropdown-menu.tasks-bar .task-info {
	margin-bottom: 5px;
}

.dropdown-menu.tasks-bar .task-info .desc {
	font-size: 13px;
	font-weight: normal;
}

.dropdown-menu.tasks-bar .task-info .percent {
	float: right;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	padding-left: 10px;
}

.progress {
	height: 10px;
	background-color: #ededed !important;
	box-shadow: none;
	margin-bottom: 0px;
	border-radius: 0px;
}

.dropdown-menu.extended li a:hover {
    background-color: #f3f3f3 !important;
}

.notify-row .badge {
	position: absolute;
	top: -5px;
	right: 1px;
	z-index: 100;
}

.badge-important {
	background-color: #e74955;
}

.mtop5 {
	margin-top: 5px;
}

.icon-comments-alt:before {
	content: "\f0e6";
}

.top-nav .pull-right>li>.dropdown-menu {
	right: 0;
	left: auto;
}

.dropdown-menu.layout {
	width: 150px;
}

.top-nav .dropdown-menu {
	margin-top: 3px;
}

.dropdown-menu.extended li i {
	margin-right: 3px;
}

.icon-user:before {
	content: "\f007";
}

.icon-cog:before {
	content: "\f013";
}

body .container {
	margin-top: 60px;
}

.container .sidebar-scroll {
	position: fixed;
	height: 100%;
	width: 180px;
	overflow: hidden;
	outline: none;
	left: 0px;
}

#sidebar {
	z-index: 100;
    background: #404040;
}

#sidebar .sidebar-menu {
	margin-bottom: 180px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#sidebar ul {
	margin-top: 1px!important;
}

#sidebar.navbar-collapse {
	padding: 0px;
}

#sidebar > ul > li {
	display: block;
	margin: 0 0 1px 0;
	padding: 0;
	border: 0;
	line-height: 30px;
}

#sidebar > ul > li > a {
	display: block;
	margin: 0;
	padding: 5px 15px;
	font-size: 12px;
	color: #fff;
	font-weight: normal;
	text-align: left;
	background: #505050;
	text-decoration: none;
	transition: background-color .5s ease;
}

#sidebar > ul > li.active > a {
	background-color: #4a8bc2;
}

#sidebar > ul > li > a i {
	color: #fff;
	display: inline-block;
	width: 25px;
	font-size: 16px;
}

.icon-dashboard:before {
	content: "\f0e4";
}

.icon-book:before {
	content: "\f02d";
}

#sidebar > ul > li > a .arrow {
	float: right;
	width: 0;
    height: 0;
    border-left: 4px solid #A0A0A0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin-top: 12px;
    margin-right: 0px;
}

#sidebar > ul > li > a:hover {
	background-color: #4a8bc2;
}

#sidebar > ul > li > a:hover .arrow {
	border-left: 4px solid #fff;
}

#sidebar > ul > li ul.sub {
	display: block;
	list-style: none;
	clear: both;
	margin: 0;
	margin-bottom: 0px;
	padding: 0px;
}

#sidebar > ul > li ul.sub li {
	background: none;
	padding: 0px;
	margin-bottom: 1px;
}

#sidebar > ul > li ul.sub li a {
	display: block;
	position: relative;
	padding: 10px 10px 10px 45px;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
	line-height: normal;
	color: #a0a0a0;

}

#sidebar > ul > li ul.sub li a:hover {
	background: #575757;
	transition: background,width .5s ease;
}

.icon-cogs:before {
	content: "\f085";
}